<div class="authorization-page">
  <div class="authorization">
    <h2 class="title">Авторизация</h2>
    <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
      <div class="form-input">
        <div class="label">Имя пользователя</div>
        <input formControlName="username">
      </div>

      <div class="form-input">
        <div class="label">Пароль</div>
        <input formControlName="password">
      </div>

      <div class="error-message" *ngIf="(!loginForm.valid && loginForm.dirty)">Пожалуйста, заполните все поля</div>
      <div class="error-message" *ngIf="showError() && loginForm.valid">Имя пользователя или пароль введены неверно</div>

      <div class="button-container">
        <button tuiButton type="button" appearance="outline" routerLink="../register">Зарегистрироваться</button>
        <button tuiButton type="submit" appearance="primary">Войти</button>
      </div>
    </form>
  </div>
</div>
